<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.frothlick.camerasnap</string>
    <key>CFBundleName</key>
    <string>camerasnap</string>
    <key>NSCameraUsageDescription</key>
    <string>macguard needs camera access to capture photos when movement is detected.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>macguard needs microphone access to record audio when movement is detected.</string>
</dict>
</plist>
